 <!-- ======= Departments Section ======= -->
    <section id="departments" class="departments">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Departments</h2>
          <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>
        </div>

        <div class="row" data-aos="fade-up" data-aos-delay="100">
              <div class="col-lg-4 mb-5 mb-lg-0">
                  <ul class="nav nav-tabs flex-column">
                      {% for department in departments %}
                          <li class="nav-item">
                              <a class="nav-link" data-bs-toggle="tab" data-bs-target="#tab-{{ department.position }}">
                                  <h4>{{ department.name }}</h4>
                                  <p>{{ department.small_desc }}</p>
                              </a>
                          </li>
                      {% endfor %}
                  </ul>
              </div>
            <div class="col-lg-8">
                <div class="tab-content">
                    {% for x in departments %}
                      <div class="tab-pane" id="tab-{{ x.position }}">
                          <h3>{{ x.name }}</h3>
                          <p class="fst-italic">{{ x.small_desc }}</p>
                          <img src={{ x.photo.url }} alt="" class="img-fluid">
                          <p> {{ x.desc }} </p>
                      </div>
                    {% endfor %}
                </div>
            </div>
        </div>
      </div>
    </section><!-- End Departments Section -->